<br>
  <div class="container">
    <div>
      <div class="row justify-center">
        <% unless  %>
          <%= cl_image_tag @lifeguard.photo, class: "avatar-show" %>
        <% else %>
          <%= image_tag @lifeguard.avatar_url, class: "avatar-show" %>
        <% end %>
      </div>
      <div class="row justify-center">
        <h2><%= @lifeguard.full_name %></h2>
      </div>
      <div class="row justify-center">
        <h2><i><%= @lifeguard.rank %></i></h2>
      </div>
    </div>

    <br>
    <br>

    <div>
      <h2><b>Contact:</b></h2>
      <h3><%= @lifeguard.email %></h3>
      <h3><%= @lifeguard.mobile %></h3>
    </div>
    <% if policy(@lifeguard).edit? %>
        <div>
          <h2><b>Diplôme:</b></h2>
          <h3>BNSSA ? <%= @lifeguard.bnssa? %></h3>
          <h3>PSE 1 ? <%= @lifeguard.pse1? %></h3>
          <h3>PSE 2?<%= @lifeguard.pse2? %></h3>
        </div>
      <div>
        <br>


      </div>
    <% end %>

      <div >
    <% if policy(@lifeguard).edit? %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier les informations</button>'), edit_user_path(@lifeguard) %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier mot de passe</button>'), edit_user_registration_path(@lifeguard) %>
    <% end %>
        <% if policy(@lifeguard).destroy? %>
           <%= link_to raw('<button type="button" class="btn btn-danger">Supprimer le profil</button>'), user_path(@lifeguard), method: :delete %>
      <% end %>
         <br>
      <h2><b>Disponibilités:</b></h2>
        <% if policy(@lifeguard).edit?%>
            <% if @lifeguard.availabilities.empty? %>
            <%= link_to raw('<button type="button" class="btn btn-secondary">Créer mes disponibilités</button>'), new_user_availability_path(@lifeguard) %>
              <% else %>
              <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier mes disponibilités</button>'), edit_user_availability_path(@lifeguard) %>
            <% end %>

        <% end %>
    </div>
  </div>
<br>
