<br>
  <div class="container">
    <div class="row justify-center">
        <%= image_tag(@lifeguard.avatar_url, class: "avatar-normal") %>
    </div>
    <div class="row justify-center">
      <h2><%= @lifeguard.full_name %></h2>
    </div>
    <br>
    <div class="row justify-center">
      <% if policy(@lifeguard).edit? %>
      <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier les informations</button>'), edit_user_path(@lifeguard) %>
      <% end %>
      <% if policy(@lifeguard).destroy? %>
         <%= link_to raw('<button type="button" class="btn btn-danger">Supprimer le profil</button>'), user_path(@lifeguard), method: :delete %>
      <% end %>
    </div>
    <br>
    <br>
    <div>
      <h2><b>Contact:</b></h2>
      <h3><%= @lifeguard.email %></h3>
      <h3><%= @lifeguard.mobile %></h3>

      <h2><b>Diplôme:</b></h2>
      <h3>A son BNSSA ? <%= @lifeguard.bnssa? %></h3>
      <h3>A son PSE 1 ? <%= @lifeguard.pse1? %></h3>
     <h3>A son PSE 2?<%= @lifeguard.pse2? %></h3>
    </div>
  </div>
<br>
