<br>
  <div class="container">
    <div>
      <div class="row justify-center">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo, class: "avatar-show" %>
        <% else %>
          <%= image_tag @user.avatar_url, class: "avatar-show" %>
        <% end %>
      </div>
      <div class="row justify-center">
        <h2><%= @user.full_name %></h2>
      </div>
      <% unless @user.lifeguard.nil? %>
        <div class="row justify-center">
          <h2><i><%= @user.lifeguard.rank %></i></h2>
        </div>
      <% end %>
    </div>

    <br>
    <br>

    <div>
      <h2><b>Contact:</b></h2>
      <h3><%= @user.email %></h3>
      <h3><%= @user.mobile %></h3>
    </div>
    <% if policy(@user).edit? %>
        <div>
          <h2><b>Diplôme:</b></h2>
          <h3>BNSSA ? <%= @user.lifeguard.bnssa? %></h3>
          <h3>PSE 1 ? <%= @user.lifeguard.pse1? %></h3>
          <h3>PSE 2?<%= @user.lifeguard.pse2? %></h3>
        </div>
      <div>
        <br>


      </div>
    <% end %>

      <div >
    <% if policy(@user).edit? %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier mes informations personnelles</button>'), edit_user_path(@user) %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier mot de passe</button>'), edit_user_registration_path(@user) %>
    <% end %>
        <% if policy(@user).destroy? %>
           <%= link_to raw('<button type="button" class="btn btn-danger">Supprimer le profil</button>'), user_path(@user), method: :delete %>
      <% end %>
         <br>
      <h2><b>Mes diplômes, mes dispos:</b></h2>
        <% if policy(@lifeguard).new?%>
            <% if @lifeguard.availabilities.empty? %>
            <%= link_to raw('<button type="button" class="btn btn-secondary">Créer mes disponibilités</button>'), new_user_lifeguard_path(@user) %>
              <% else %>
              <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier mes disponibilités</button>'), edit_user_lifeguard_path(@user) %>
            <% end %>

        <% end %>
    </div>
  </div>
<br>
