<div class="row">
  <% @teams.each do |team| %>
    <div class="col-xs-12 col-md-12">
      <div class="card-team">
        <div class="card-team-beach-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= team.beach.photo_url%>);">
        </div>
        <div class="card-team-infos">
          <div class="card-title space_between width100 padding1">
            <h2>Plage <%= team.beach.name%> - <%= team.calendar.day.strftime("%d-%m-%Y")%></h2>
          </div>
          <div class="card-lifeguards flex width100 padding1 horizontal-scroll">
            <% head_lifeguards = HeadLifeguard.find_by(team: team) %>
            <%= link_to user_path(head_lifeguards.user.id) do %>
              <div class="lifeguard-profile">
                <%= cl_image_tag head_lifeguards.user.photo, class: "avatar-large" %>
                <%= head_lifeguards.user.full_name %>
              </div>
            <% end %>
            <% lifeguards = TeamLifeguard.where(team: team) %>
            <% lifeguards.each do |lifeguard| %>
              <%= link_to user_path(lifeguard.user.id) do %>
                <div class="lifeguard-profile">
                  <%= cl_image_tag lifeguard.user.photo, class: "avatar-large" %>
                  <%= lifeguard.user.full_name %>
                </div>
              <% end%>
            <% end%>
          </div>
        </div>
       </div>
    </div>
  <% end %>
</div>
