<div class="row">
  <% @beaches.each do |beach| %>
    <div class="col-xs-12 col-md-12">
      <div class="card-team">
        <div class="card-team-beach-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= beach.photo_url%>);">
        </div>
        <div class="card-team-infos">
            <div class="card-title space_between width100 padding1">
              <h2>Plage <%=beach.name%></h2>
              <% team = Team.find_by(calendar: @date, beach: beach) %>
              <div class="card-links">
                <% if team.nil?  %>

                    <%= link_to raw('<i class="fas fa-plus-circle"></i>Créer léquipe'),  new_season_calendar_beach_team_path(@season, @date, beach, team) %>

                <% else %>
                    <% if policy(team).edit? %>
                      <%= link_to raw('<i class="fas fa-edit"></i>Modifier'),   edit_season_calendar_beach_team_path(team.calendar.season, team.calendar, team.beach, team) %>
                     <% end %>
                     <% if policy(team).destroy? %>
                      <%= link_to raw('<i class="fas fa-times-circle"></i>Supprimer'),   season_calendar_beach_team_path(team.calendar.season, team.calendar, team.beach, team), method: :delete %>
                      <% end %>
                <% end %>
              </div>
            </div>

          <% unless team.nil? %>
            <div class="card-lifeguards flex width100 padding1 horizontal-scroll">
              <% head_lifeguard = team.head.first %>
              <%= link_to user_path(head_lifeguard.user.id) do %>
                <div class="lifeguard-profile">
                    <% unless  %>
                      <%= cl_image_tag head_lifeguard.user.photo, class: "avatar-large" %>
                      <% else %>
                      <%= image_tag head_lifeguard.user.avatar_url, class: "avatar-large" %>
                    <% end %>

                    <p><%= head_lifeguard.user.full_name %></p>
                </div>
              <% end %>
                <% team.lifeguards.each do |lifeguard| %>
                  <%= link_to user_path(lifeguard.user.id) do %>
                    <div class="lifeguard-profile">
                    <% unless %>
                      <%= cl_image_tag lifeguard.user.photo, class: "avatar-large" %>
                    <% else %>
                      <%= image_tag lifeguard.user.avatar_url, class: "avatar-large" %>
                    <% end %>

                      <p><%= lifeguard.user.full_name %></p>
                    </div>
                  <%end %>
              <%end%>
            </div>
          <% end %>
        </div>
       </div>
    </div>
  <% end %>
</div>
