<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'teams', action: 'new')  %>
      <h2>Créer l'équipe</h2>
  <% else %>
      <h2>Modifier l'équipe</h2>
  <% end %>

  <%= simple_form_for [@season, @date, @beach, @team], html: { class: "form-group"} do |f| %>
    <%= f.input :beach_id, collection: [@beach], selected: @beach, input_html: { readonly: true}, label: "Plage:" %>
    <%= f.input :calendar_id, collection: [@date], selected: @date, label_method: :day, :input_html => {  readonly: true }, label: "Date:" %>

    <h5>Chef de poste:</h5>
      <%= f.fields_for :team_lifeguards, @team.team_lifeguards[0] do |ff| %>
      <%= ff.input :lifeguard_id, collection: @available_heads, label_method: :name, prompt: "Choisir", required: true, input_html: { autocomplete: "Perfil"}, html: {class: "form-control"}, label: false %>
    <% end %>

    <h5>Equipiers:</h5>
    <% for i in 1..@team_mate_number %>
      <%= f.fields_for :team_lifeguards, @team.team_lifeguards[i] do |ff| %>
        <%= ff.input :lifeguard_id, collection: @available_arms, label_method: :name, prompt: "Choisir", required: true, input_html: { autocomplete: "Perfil"}, label: false %>
      <% end %>
    <% end %>
    <%= f.button :submit, "Valider l'équipe",id: "submit-team", class: "btn btn-lg btn-primary col-xs-9 col-md-12" %>
  <% end %>
</div>
