<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'teams', action: 'new')  %>
    <h2>Créer l'équipe plage <%= @beach.name%></h2>
  <% else %>
    <h2>Modifier l'équipe <%= @beach.name%></h2>
  <% end %>

  <%= simple_form_for [@date, @beach, @team], remote: true, input_html: {  class: "form-lifeguard"} do |f| %>
    <%= f.select :beach_id, collection: [@beach.name] %>
    <%= f.select :calendar_id, collection: [@date.day] %>

    <h3>Chef de poste:</h3>
      <%= f.fields_for :head_lifeguard do |ff| %>
      <%= ff.select :user_id, options_from_collection_for_select(@available_heads, :id, :full_name), prompt: "Choisir", required: true, input_html: { autocomplete: "Perfil"} %>
    <% end %>
    <h3>Equipiers:</h3>
    <ul>
      <%= f.fields_for :team_lifeguards do |ff| %>
       <li>
        <%= ff.select :user_id, options_from_collection_for_select(@available_arms, :id, :full_name), prompt: "Choisir", required: true, input_html: { autocomplete: "Perfil"} %>
      </li>
      <% end %>
    </ul>
    <%= f.button :submit, "Créer l'équipe",id: "submit-team",class: "btn btn-lg btn-primary blue-nav col-xs-9 col-md-4" %>
  <% end %>


</div>
