<div class="log-form overflow col-xs-12 col-md-4">
  <% if current_page?(controller: 'users', action: 'new')  %>
      <h2>Nouveau sauveteur:</h2>
  <% else %>
      <h2>Modifier profil:</h2>
  <% end %>


    <%= simple_form_for [@lifeguard]  do |f| %>
      <%= f.input :firstname,
                  required: true,
                  autofocus: true,
                  label: "Prénom:"%>
      <%= f.input :lastname,
                  required: true,
                  autofocus: true,
                  label: "Nom:" %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: "Adresse email" %>
      <%= f.input :mobile,
                  required: true,
                  autofocus: true,
                  label: "Téléphone portable:" %>
      <%= f.input :photo, as: :file, label: "Photo de profil:" %>
      <%= f.input :bnssa, as: :boolean, checked_value: true, unchecked_value: false, label: "J'ai mon BNSSA ?" %>
      <%= f.input :pse1, as: :boolean, checked_value: true, unchecked_value: false, label: "J'ai mon PSE1 ?" %>
      <%= f.input :pse2, as: :boolean, checked_value: true, unchecked_value: false, label: "J'ai mon PSE2 ?" %>
      <% if current_user.admin %>
        <%= f.input :head, as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, label: "Chef de poste?" %>
      <% end %>

      <% for i in 0..@number_of_days %>
        <%= f.fields_for :availabilities, @lifeguard.availabilities[i] do |ff| %>
          <%= ff.input :available, as: :radio_buttons, prompt: "Choisir", required: true, input_html: { autocomplete: "Perfil"}, label: "Je suis dispo pour travailler le #{@lifeguard.availabilities[i].calendar.day.strftime('%d-%m-%Y')}?" %>
        <% end %>
      <% end %>

      <%= f.submit "Valider les informations", class: "btn btn-lg btn-primary blue-nav col-xs-9 col-md-12" %>
    <% end %>

</div>
