<div class="log-form col-xs-12 col-md-4">
  <%= simple_form_for [@date, @beach, @team, @team_lifeguard], remote: true do |f| %>

        <% if current_page?(controller: 'team_lifeguards', action: 'new')  %>
          <h2>Créer l'équipe plage <%= @beach.name%></h2>
        <% else %>
          <h2>Modifier l'équipe <%= @beach.name%></h2>
        <% end %>
        <h3>Chef de poste:</h3>
        <%= f.select :user_id, options_from_collection_for_select(User.where(rank_id: @leader.id), :id, :full_name),
                    required: true,
                    input_html: { autocomplete: "Perfil" } %>
        <h3>Equipier(s): </h3>
        <% @team_mate_number.times do %>
          <%= f.select :user_id, options_from_collection_for_select(User.where(rank_id: @team_mate.id), :id, :full_name),
                    required: true,
                    input_html: { autocomplete: "Perfil" } %>
        <% end %>

         <button id="submit-new-team" class="btn btn-lg btn-primary blue-nav col-xs-9 col-md-4" style="margin-bottom: 0.25em"><i class="fas fa-check"></i> Créer l'équipe</button>
  <% end %>
</div>
